%h1 #{@wiki.title}
.row
  .col-md-8
    %p #{@wiki.body}
  .col-md-4
    - if policy(@wiki).update?
      = link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success'
    - end
    - if policy(@wiki).destroy?
      = link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger'
    - end
